@import "materialize/materialize";

$base:    #26a69a;
$red:     #f44336;
$green:   #4caf50;
$blue:    #2980b9;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 50px;
}

.nav-wrapper {
  @extend .teal.lighten-1;
}

nav .brand-logo {
  font-family: 'Shrikhand', cursive;
  color: rgba(255,255,255, 0.95);
  text-shadow: -1px 1px 1px #004d40;
  font-size: 2.2rem;
  letter-spacing: 3px;

  span:nth-child(2) {
    color: #EF5350;
    text-shadow: -1px 1px 1px #b71c1c;
    text-shadow: -1px 0 #b71c1c, 0 1px #b71c1c, 1px 0 #b71c1c, 0 -1px #b71c1c;
    font-size: 3.5rem;
    margin: 0 0.5rem;
  }
}

.page-footer {
  @extend .deep-purple.darken-2;
}

footer {
  margin-bottom: 2em;
}
.fixed-action-btn {
  bottom: 45px;
  right: 25px;
}
.card .card-content p {
  margin-bottom: 1em;
}

/* label underline focus color */
.input-field {
  input#rgb_r {
    &.valid, &:focus {
      border-bottom: 1px solid $red;
      box-shadow: 0 1px 0 0 $red;
      border-color: $red;

      + label {
        color: $red;
      }
    }
  }

  input#rgb_g {
    &.valid, &:focus {
      border-bottom: 1px solid $green;
      box-shadow: 0 1px 0 0 $green;
      border-color: $green;

      + label {
        color: $green;
      }
    }
  }

  input#rgb_b {
    &.valid, &:focus {
      border-bottom: 1px solid $blue;
      box-shadow: 0 1px 0 0 $blue;
      border-color: $blue;

      + label {
        color: $blue;
      }
    }
  }

  input#opacity:focus {
    border-bottom: 1px solid $base;
    box-shadow: 0 1px 0 0 $base;
  }
}

.range-field {
  margin-top: 30px;
}

.percantage {
  margin-top: 28px;
  padding-left: 0 !important;
}

.noUi-handle.noUi-handle-lower {
  display: none;
}

.noUi-handle.noUi-handle-upper:hover {
  cursor: pointer;
}

.toast.rounded {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  background: transparent;
  border: 1px solid $base;
}
